.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1480px;
  width: 95%;
  @include grid-v(12, 30px);

  @include desktop {
    width: 95%;
    max-width: 1080px;
  }

  @include phones {
    width: 85%;
  }
}