.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1480px;
  width: 95%;

    @include desktop {
      max-width: 1080px;
    }

    @include tablets {
      max-width: 688px;
    }

    @include phones{
      width: 100%;
    }
}