.contact-me {
    min-height: 770px;
    color: #fff;

    &__container {
        grid-template-rows: 114px 105px 405px 144px;
    }

    &__title {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        font-size: 36px;
        font-weight: 700;
    }

    &__form {
        grid-column: 1 / 8;
        grid-row: 3 / 4;
    }
}