.developer-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__desc {
        width : auto;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        text-align: right;
        margin-right: 62px;
    }

    &__name {
        font-size: 72px;
        line-height: 60px;
        font-weight: 800;
        text-align: center;
    }
}