.guitarist-bg {
    background: url('../images/content/guitarist.jpg') top right no-repeat / cover;

    @include phones {
        background: url('../images/content/guitarist.jpg') top left no-repeat / cover;
    }
}