.header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    @include grid-v(12, 30px);
    align-items: center;

  &__menu {
    grid-column: 3 / 10;
    grid-row: 1 / 2;
    padding: 0 77px 0 85px;
  }

  &__socials {
    grid-column: 11 / 13;
    grid-row: 1 / 2;
    padding-left: 55px;
  }
}

