.hero {
  color: #fff;

  &__container {
    height: 100vh;
    grid-template-rows: 150px auto 150px;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 3 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btns {
    grid-column: 6 / 8;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
