.hero {
  height: 100vh;
  color: #fff;
  z-index: +10;

  &__container {
    grid-template-rows: 150px 1fr 150px;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 3 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btns {
    grid-column: 6 / 8;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
