.parallax-scroll {
    position: absolute;
    background: #05001d;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -10;

    &__layer, &__image {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
    }
}