.portfolio {
    background: #f8f8f8;
    height: 100%;

    &__container {
        grid-template-rows: 135px 140px 550px 155px;
    }

    &__title {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        font-size: 36px;
        color: #333c49;
        font-weight: 700;
    }

    &__slider {
        grid-row: 3 / 4;
        grid-column: 1 / 9;
    }

    &__work {
        grid-row: 3 / 4;
        grid-column: 10 / 13;
    }

}