.scrolldown-btn {

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }

    &__icon {
        width: 20px;
        height: 30px;
        fill: #fff;
    }
}