.tags {

    &__list {
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        font-size: 15px;
        color: #2f3642;
        font-weight: 600;
        padding: 5px 10px;
        background-color: #eceff2;
        border-radius: 10px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}