.tags {

    &__list {
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        font-size: 15px;
        line-height: 1;
        color: #2f3642;
        font-weight: 600;
        padding: 16px 19px;
        background-color: #eceff2;
        border-radius: 22px;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}