.triangles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    fill: #fff;
    display: flex;
    justify-content: space-between;

    &__item-left {
        width: 321%;
    }

    &__item-right {
        width: 100%;
    }

}