.triangles {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    fill: #fff;
    display: flex;
    justify-content: space-between;

    &__item-left {
        width: 321%;
    }

    &__item-right {
        width: 100%;
    }

}