-
    var menuItems = [
            {'text': 'Главная','id':'main'},
            {'text':'Обо мне', 'id': 'about-me'},
            {'text': 'Навыки', 'id': 'skills'},
            {'text': 'Работы', 'id': 'portfolio'},
            {'text': 'Отзывы', 'id': 'reviews'},
            {'text': 'Связаться', 'id': 'contact-me'}
        ]
.menu
    ul.menu__list
        each item in menuItems
            li.menu__item
                a(href="#"+`${item.id}`).menu__link= item.text