section.about-me#about-me
    .container.about-me__container
        .about-me__left
            .user
                include ../components/user
        .about-me__right
            h4.about-me__hello Привет, меня зовут
            h3.about-me__title Андрей Тутин
            .about-me__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about-me__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!