section.hero#main
    .container.hero__container
        header.header
            .logo АТ
            nav.header__menu
                include ../components/menu
            .header__socials
                include ../components/socials
        .hero__content
            include ../components/developer-info
        .hero__btns
            .scrolldown-btn
                a(href="#about-me").scrolldown-btn__link Скролл
                    +icon("scroll", "scrolldown-btn__icon")