.parallax 
    .parallax__layer
        +image("content/layer1.png", "parallax__image")
    .parallax__layer
        +image("content/layer2.png", "parallax__image")
    .parallax__layer
        +image("content/layer3.png", "parallax__image")
    .parallax__layer
        +image("content/layer4.png", "parallax__image")
    .parallax__layer
        +image("content/layer5.png", "parallax__image") 