section.portfolio#portfolio
    .container.portfolio__container
        h2.title.portfolio__title Мои работы
        #works-slider

script(type="text/x-template")#portfolio-content-template
    .portfolio__content
        slider(
            :works="works"
            :currentWork="currentWork"
            @slide="handleSlide"
        )
        work(
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider-template
    .portfolio__slider
        .slider(:data-slide="currentWork.id")
            .slider__fullsize
                img(:src="currentWork.photo" style="width: 100%")
                previews(
                    :works="works"
                    :currentWork="currentWork"
                )
                buttons(
                    @slide="$emit('slide', $event)"
                )

script(type="text/x-template")#previews-template
    ul.slider__previews
        li(v-for="work in works" 
            :key="work.photo"
            :class="{active: work.id === currentWork.id}"
            ).slider__previews-item
            a(style="width: 25%").slider__previews-link
                img(:src="work.photo" style="width: 100%").slider__previews-image

script(type="text/x-template")#work-template
    .portfolio__work
        .work
            tags(
                :tags="tagsArray"
            )
            .work__title {{currentWork.title}}
            .work__decsription {{currentWork.desc}}
            a.work__link(:href="currentWork.link" target="_blank")
                +icon("link", "work__link-icon")
                p Посмотреть сайт 

script(type="text/x-template")#tags-template
    .work__tags
        .tags
            ul.tags__list
                li(v-for="tag in tags").tags__item {{tag}}

script(type="text/x-template")#buttons-template
    .slider__btns
        button(@click.prevent="$emit('slide', 'next')").slider__next
            +icon("arrow-down", "slider__next-icon")
        button(@click.prevent="$emit('slide', 'prev')").slider__prev
            +icon("arrow-down", "slider__prev-icon")