section.reviews#reviews
    .container.reviews__container
        h2.title.reviews__title Что обо мне говорят
        Flickity(ref="flickity" :options="flickityOptions").reviews__slider(style="display: flex")
            .carousel-cell
                .review
                    article.review__text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                    .review__author
                        .author
                            .author__avatar
                                .avatar
                                    +image("content/user.jpg", "author__avatar-pic")
                            .author__info
                                .author__name Ковальчук Дмитрий
                                .author__business Основатель Loftschool
            .carousel-cell
                .review
                    article.review__text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                    .review__author
                        .author
                            .author__avatar
                                .avatar
                                    +image("content/user.jpg", "author__avatar-pic")
                            .author__info
                                .author__name Ковальчук Дмитрий
                                .author__business Основатель Loftschool
            .carousel-cell
                .review
                    article.review__text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                    .review__author
                        .author
                            .author__avatar
                                .avatar
                                    +image("content/user.jpg", "author__avatar-pic")
                            .author__info
                                .author__name Ковальчук Дмитрий
                                .author__business Основатель Loftschool
            .carousel-cell
                .review
                    article.review__text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                    .review__author
                        .author
                            .author__avatar
                                .avatar
                                    +image("content/user.jpg", "author__avatar-pic")
                            .author__info
                                .author__name Ковальчук Дмитрий
                                .author__business Основатель Loftschool
            .carousel-cell
                .review
                    article.review__text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжёлых испытаний и бессонных ночей!
                    .review__author
                        .author
                            .author__avatar
                                .avatar
                                    +image("content/user.jpg", "author__avatar-pic")
                            .author__info
                                .author__name Ковальчук Дмитрий
                                .author__business Основатель Loftschool