section.skills#skills
    .container.skills__container
        .skills__content
            h2.title.skills__title Чем я могу быть полезен вам
            .skills__text 
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            include ../components/skills