include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section

        include ./pug_files/sections/parallax
        
        include ./pug_files/sections/hero
        
        include ./pug_files/sections/about-me
            
        include ./pug_files/components/triangles

      include ./pug_files/sections/skills
          
      include ./pug_files/sections/portfolio

      .guitarist-bg

        include ./pug_files/sections/reviews

        include ./pug_files/sections/contact-me

      footer.footer
        .container.footer__container
          .footer__year © 2019
          .footer__developer-info
            h1.developer-info
              span.developer-info__desc Личный сайт<br>веб разработчика 
              span.developer-info__name Андрей Тутин
          .footer__menu
            include ./pug_files/components/menu
          .footer__socials
            .socials
              ul.socials__list
                include ./pug_files/components/socials
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool.
          quote.footer__quote 
            p Всегда пишите код так,будто сопровождать его будет склонный к насилию психопат, который знает где вы живёте
            span.footer__quote-author Martin Golding