include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section

        include ./pug_files/sections/parallax
        
        include ./pug_files/sections/hero
        
        include ./pug_files/sections/about-me
            
        include ./pug_files/components/triangles

      include ./pug_files/sections/skills
          
      include ./pug_files/sections/portfolio

      .guitarist-bg

        include ./pug_files/sections/reviews

        include ./pug_files/sections/contact-me

      include ./pug_files/sections/footer